html, body, #main {height: 100%;}
body{
	background:url("../images/background.png") #e0e0e0;
	font: Arial, Helvetica, sans-serif;
}
body > #main{
	height: auto;
	min-height: 100%;
	margin:0 auto;
}
#content{
	padding-bottom: 50px;
}

/* --- GENERAL --- */

a, a:link, a:visited, a:active, a:focus, a:hover {
	color: #0f0f0f;
	text-decoration: none;
	cursor:pointer;
}
/* CLEAR FIX*/
.clearfix:after {content:".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

select:hover, select:focus,
input[type="checkbox"]:hover, input[type="checkbox"]:focus,
input[type="radio"]:hover, input[type="radio"]:focus,
input[type="text"]:hover, input[type="text"]:focus,
textarea:hover, textarea:focus {outline:none!important}

label{
	display:block;
	margin:0.5em 0.2em 0.2em;
	text-align: left;
}


/* --- END GENERAL --- */

/* --- HEADER --- */

header{
	height:8em;
	width:100%;
	margin:0 auto;
	position:relative;
}
#logo{
	background-image:url("../images/redeye.png");
	background-size:100px;
	cursor:pointer;
	display:block;
	position:absolute; left: 0; top: 0;
	height:100px;
	width:100px;
	margin:1em 0 0 1em;
}

nav{
	background:url("../images/background.png") #e0e0e0;
	position:fixed; right: 0; top: 0;
	margin: 1em 0 0;
	border:1px solid #ff0;
	-webkit-border-radius:1em;
	-moz-border-radius:1em;
	border-radius:1em;
	border:1px solid grey;
	-webkit-box-shadow: #999 0 0 1em;
	-moz-box-shadow: #999 0 0 1em;
	box-shadow: #999 0 0 1em;
	overflow: hidden;
}
nav ul{
}
nav li{
	display:block;
	float:left;
	padding:0 30px;
	line-height:1.5em;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
}
nav li:hover{
	background: #41E3F5;
	border-left:1px solid #999;
	border-right:1px solid #999;
}
nav li a{
	/*text-decoration:none;*/
}

/* --- END HEADER --- */



#loginformwrapper, #regformwrapper{
	display: none;
}

.allforms{
	border:1px solid #aaa;
	background:url("../images/background.png") #e0e0e0;
	width:20%;
	min-width: 230px;
	overflow: hidden;
	padding: 1em;
	margin: 0em auto;
	position:relative;
	top:3em;
	-webkit-border-radius:1em;
	-moz-border-radius:1em;
	border-radius:1em;
	-webkit-box-shadow: #999 0 0 1em;
	-moz-box-shadow: #999 0 0 1em;
	box-shadow: #999 0 0 1em;
	text-align: center;
	z-index: 999;
}
.allforms input{
	width: 100%;
	box-sizing:border-box;
	-webkit-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.2);
	background:url("../images/background.png") #e0e0e0;
	border:1px solid #999;
	height: 1.5em;
	-webkit-border-radius:0.5em;
	-moz-border-radius:0.5em;
	border-radius:0.5em;
}
.allforms p{
	line-height: 1.2em;
}
.allforms label:first-child{
	margin-top: 0;
}
.allforms input[type="text"], input[type="password"]{
	padding-left: 10px;
}
input[type="text"]:focus, input[type="password"]:focus{
	box-shadow:0 0 5px #41E3F5;
	outline:none;
}
.allforms input[type="submit"]{
	display:block;
	margin-top:1em;
	box-shadow:2px 2px 2px rgba(0, 0, 0, 0.2);
	-webkit-border-radius:0.5em;
	-moz-border-radius:0.5em;
	border-radius:0.5em;
	outline:none;
}

.popup_close{
	background: url("../images/btn_closed.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
	cursor: pointer;
	display: block;
	height: 20px;
	position: absolute;
	right: 3px;
	top: 3px;
	width: 20px;
}
.popup_close:hover{background-position: left -26px;}
.popup_close:active{background-position: left 1px;}

.mask{
	background: #000;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	height: 100%;
	width: 100%;
	opacity: 0.5;
	position: fixed;
	top:0;
	left:0;
	z-index: 998;
	display: none;
}

section{
	/*border:1px dashed #000;*/
}
article{
	/*border:1px dashed #000;*/
}




footer{
	position:relative;
	margin-top: -50px;
	height:50px;
	text-align:center;
	background:url("../images/testfon.png") #c0c0c0;
	clear:both;
}